html {
    height: 100%;
}

body {
    background-color: #111111;
    color: #CCCCCC;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
}

button {
    width: 200px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    background-color: #111111;
    color: #CCCCCC;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #555555;
}

button:disabled {
    background-color: #333333;
    color: #AAAAAA;
}

button.completed{
    background-color: #335533;
    color: #AAAAAA;
}

.tab {
    padding: 20px;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

#left {
    display: none;
    flex-shrink: 0;
}

.top-left {
    flex-shrink: 0;
    height: 100px;
    border-bottom: 1px solid #CCCCCC;
}

#right {
    display: none;
    flex-grow: 1;
}

.top-right {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #CCCCCC;
}

.bottom-left {
    flex-grow: 1;
    overflow-y: auto;
    border-right: 1px solid #CCCCCC;
    min-width: 200px;
}

.version {
    flex-grow: 0;
    border-right: 1px solid #CCCCCC;
    min-width: 200px;
    flex-shrink: 0;
}

.bottom-right {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #222222;
}

/*Tabbing stuff*/

.tabrow {
    list-style: none;
    margin: 64px -1px 20px;
    padding: 0;
    line-height: 35px;
    height: 37px;
    overflow: hidden;
    font-size: 16px;
    position: relative;
}

.tabrow li {
    border: 1px solid #CCCCCC;
    background: #111111;
    background: linear-gradiant(top, #555555 50%, #111111 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 1px 3px #CCCCCC, inset 0 1px 0 #000000;
    text-shadow: 0 1px #000000;
    margin: 0 0px;
    padding: 0 30px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    color: #CCCCCC;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tabrow li:hover {
    background-color: #555555;
}

.tabrow li.selected {
    background: #222222;
    z-index: 2;
    border-bottom-color: #222222;
    text-decoration: underline;
}